<div name="filtros" style="background:#AA5;padding:3px">
<h3>Filtro de preguntas
</h3>
<form method="get"  action="/quizes">
<table>
<tr><td>Texto de la pregunta <br/>(admite varias palabras en el orden de aparición)</td><td>Tema</td><td>Dificultad</td></tr>
<tr><td>
    
	 <input type="text" id="search" name="search" value""/>
	  
	  </td><td>
	  
	  <select name="searchTema">
	  <option value="" selected>-</option>
  <option value="Otro" >Otro</option>
  <option value="Humanidades">Humanidades</option>
  <option value="Ocio">Ocio</option>
  <option value="Ciencia">Ciencia</option>
  <option value="Tecnología">Tecnología</option>
  <option value="Geografía">Geografía</option>
  </select>
	  </td>
	  <td>
	    <select name="searchdificultad">
  <option value="" selected>Cualquiera</option>
  <option value="1">Fácil</option>
  <option value="2">Normal</option>
  <option value="3">Difícil</option>
  </select>
	  </td>
	  <td><input type="submit" value="Filtrar"></td></tr></table></form>
</div>
<h3>Preguntas</h3>
	  <table>
<% var i; for (i= 0; i< quizes.length; i++) {  %>
 <tr>
 <td>
 <a href="quizes/<%= quizes[i].id %>">
 <%= quizes [i].pregunta %> </a></td><td><i>(<%= quizes[i].tema %>)</i>
 </td><td><%= quizes[i].dificultad %>
 </td>
 
<% if (session.user) { %>
  <td>
 <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
   <button type="submit" onClick="return confirm('Borrar la pregunta: <%= quizes[i].pregunta %>');">
   borrar
   </button>
 </form>
 </td>
<% } %>

 </tr>
<% } %>
</table>

<% if (session.user) { %>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
<% } %>